<html>
    <head>
        <title>To Do list</title>
    </head>
    <body>
     <h1><%=  kindOfDay  %></h1> 
     <ul>
        <li>Buy the food</li>
        <li> read the books</li>
        
     </ul>
     <form action="/" method="post">
        <input name="list_item" type="text" placeholder="item">
        <button >Click me</button>
     </form>
    </body>
</html>